#form{
    padding: 11px;
    border-radius: 10px;
    background-color: #f2f2f2;
}

input{
    border: 1px solid rgb(149, 131, 255);
    border-radius: 6px;
    padding: 5px;
}

table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}