*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 10px;
    height: 30px;
}

h1{
    color: white;
}

a{
    color: white;
    text-decoration: none;
}