*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    min-width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgb(255, 206, 206);
}

#form{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgb(255, 206, 206);
}

table, tr, th, td{
    border: 1px solid rgb(255, 206, 206);
    border-collapse: collapse;
    padding: 5px;
}

input, textarea{
    border: 1px solid rgb(255, 206, 206);
    border-radius: 10px;
    padding: 5px;
}